* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(circle, #7f09ff, #0f0423);
}

.container {
  margin-top: 20vh;
}



#product {
  border-radius: 20px;
}